html {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: white;
  min-width: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-family: "eurostile", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3,
h4 {
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3,
  h4 {
    font-size: 2.5rem;
  }
}

a,
p,
blockquote,
span {
  font-family: "europa", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  a,
  p,
  blockquote,
  span {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-family: "europa", sans-serif;
  line-height: 1;
  font-size: 2rem;
}

/**
-------Clases Globales---------
**/
.contenedor {
  width: 95%;
  margin: 0 auto;
}

.caja-barra {
  background-color: white;
  -webkit-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
  box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
  padding: 2em 1em;
  border-radius: 2em;
}

/**
-------Navegacion Header---------
**/
.navegacion {
  width: 100%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.navegacion div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.navegacion div #nav_mobile {
  display: none;
}

.navegacion div i {
  font-size: 2rem;
  color: #7510f7;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 0.3em;
  display: none;
}

.navegacion div i:hover {
  color: #580cbb;
}

.navegacion div .links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.navegacion div .links a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 2rem;
  margin-left: 1em;
}

.navegacion div .links a:hover {
  color: #7510f7;
}

.navegacion div .links a:first-child {
  margin-left: 0;
  width: 20%;
}

.navegacion div .contact-link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.navegacion div .contact-link a {
  border: 2px solid #7510f7;
  padding: 0.3em 0.5em;
  border-radius: 15px;
  color: #7510f7;
  font-size: 1.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navegacion div .contact-link a:hover {
  color: white;
  background-color: #7510f7;
}

@media only screen and (min-width: 480px) {
  .navegacion div .links a:first-child {
    width: 16%;
  }
  .navegacion div .links .logo-image {
    height: 65px;
  }
}

@media only screen and (min-width: 768px) {
  .navegacion div .links a {
    font-size: 2rem;
    margin-left: 1.5em;
  }
  .navegacion div .contact-link a {
    font-size: 2rem;
  }
}

.activo-barra {
  background-color: rgba(225, 225, 225, 0.7);
  top: 0;
  position: fixed;
  left: 0;
  z-index: 2;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.movile-menu {
  display: block !important;
  overflow: hidden;
}

.movile-menu #nav_mobile {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movile-menu #nav_mobile #contact {
  border: 2px solid #7510f7;
  padding: 0.4em 0.7em 0.2em 0.7em;
  border-radius: 15px;
  color: #7510f7;
  font-size: 1.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.movile-menu #nav_mobile #contact:hover {
  color: white;
  background-color: #7510f7;
}

.movile-menu .links {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #e1e1e1;
  padding: 0 !important;
  border-radius: 0px 0px 15px 15px;
}

.movile-menu .links a {
  display: block;
  width: 100%;
  margin-left: 0 !important;
  border-bottom: 2px gray solid;
  padding: 0.5em 0;
}

.movile-menu .links a:first-child {
  text-align: center;
  width: 100% !important;
}

.movile-menu .links a:first-child img {
  width: 12%;
}

.movile-menu .links a:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

/**
-------Hero---------
**/
.hero {
  margin: 3em auto;
  text-align: center;
}

.hero h1 {
  color: #580cbb;
}

.hero h2 {
  font-family: "europa", sans-serif;
  padding: 0.5em 0;
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .hero {
    margin: 5em auto;
    text-align: center;
  }
  .hero h1 {
    color: #580cbb;
  }
  .hero h2 {
    font-family: "europa", sans-serif;
    padding: 0.5em 0;
    font-size: 2.5rem;
    font-weight: 500;
  }
}

/**
-------Imagenes Dispositivos---------
**/
.dispositivos {
  margin-top: 0em;
  text-align: center;
}

.dispositivos img {
  width: 80%;
}

@media only screen and (min-width: 468px) {
  .dispositivos {
    margin-top: 8em;
  }
  .dispositivos img {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .dispositivos {
    margin-top: 10em;
  }
  .dispositivos img {
    width: 40%;
  }
}

/**
-------Main---------
**/
/*** Yo ***/
.main {
  background-color: #580cbb;
  padding: 6em 1em;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block;
  position: relative;
  overflow: hidden;
}

.main .yo {
  width: 90%;
  max-height: 460px;
  text-align: center;
}

.main .yo h2 {
  color: #7510f7;
}

.main .yo .descripcion {
  margin-top: 1em;
}

.main .yo .descripcion img {
  width: 60%;
  background-color: #7510f7;
  padding: 3rem 4rem;
  margin-bottom: 2em;
  border-radius: 100%;
}

.main .yo .descripcion p {
  color: black;
  line-height: 1.5;
}

@media only screen and (min-width: 480px) {
  .main .yo {
    width: 60%;
  }
  .main .yo .descripcion img {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .main .yo {
    width: 60%;
  }
  .main .yo .descripcion img {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .main .yo {
    width: 40%;
  }
  .main .yo .descripcion img {
    width: 40%;
  }
}

.flecha-1,
.flecha-2 {
  color: #7510f7;
  font-size: 4em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.flecha-1 p,
.flecha-2 p {
  text-align: center;
  font-weight: 600;
  position: absolute;
  content: "";
  width: 75px;
  top: -25px;
  left: -20px;
}

.flecha-1:hover,
.flecha-2:hover {
  color: #580cbb;
}

.flecha-1 {
  position: absolute;
  top: 22%;
  left: 15%;
  content: "";
}

.flecha-2 {
  position: absolute;
  top: 22%;
  right: 15%;
  content: "";
}

@media only screen and (min-width: 480px) {
  .flecha-1,
  .flecha-2 {
    background-color: white;
    padding: 0.5em 0.2em;
    border-radius: 15px;
    line-height: 1;
    -webkit-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
    box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
  }
  .flecha-1:hover,
  .flecha-2:hover {
    padding: 0.5em 0.1em;
  }
  .flecha-1 {
    position: absolute;
    top: 22%;
    left: 10%;
    content: "";
  }
  .flecha-2 {
    position: absolute;
    top: 22%;
    right: 10%;
    content: "";
  }
}

@media only screen and (min-width: 1024px) {
  .flecha-1 p,
  .flecha-2 p {
    width: 220px;
    top: -25px;
    left: -75px;
  }
  .flecha-1 {
    position: absolute;
    top: 22%;
    left: 22%;
    content: "";
  }
  .flecha-2 {
    position: absolute;
    top: 22%;
    right: 22%;
    content: "";
  }
}

/*** Designer ***/
.designer {
  width: 90%;
  text-align: center;
  display: none;
}

.designer h2 {
  color: #7510f7;
}

.designer .descripcion {
  margin-top: 1em;
}

.designer .descripcion img {
  width: 80%;
  fill: none;
  stroke: none;
  fill-opacity: 1;
  padding: 0rem 0rem !important;
  margin-bottom: 2em;
  border-radius: 50% !important;
}

.designer .descripcion p {
  color: black;
  line-height: 1.5;
}

@media only screen and (min-width: 480px) {
  .main .designer .descripcion img {
    width: 60% !important;
  }
}

@media only screen and (min-width: 768px) {
  .main .designer .descripcion img {
    width: 40% !important;
  }
}

/** Work **/
.work {
  width: 90%;
  text-align: center;
  display: none;
}

.work h2 {
  color: #7510f7;
}

.work .descripcion {
  margin-top: 1em;
}

.work .descripcion img {
  width: 60%;
  fill: none;
  stroke: none;
  fill-opacity: 1;
  padding: 3rem 2rem !important;
  margin-bottom: 2em;
  border-radius: 50% !important;
}

.work .descripcion p {
  color: black;
  line-height: 1.5;
}

@media only screen and (min-width: 480px) {
  .work .designer .descripcion img {
    width: 60% !important;
  }
}

@media only screen and (min-width: 768px) {
  .work .designer .descripcion img {
    width: 40% !important;
  }
}

/**
-------Programmer Lenguajes---------
**/
.lenguajes h2 {
  text-align: center;
  color: white;
  font-size: 4rem;
  border-bottom: 3px solid #e1e1e1;
  width: 35%;
  margin: 2em auto;
  padding-bottom: 0.2em;
}

.lenguajes .lenguajes-fb {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.lenguajes .lenguajes-fb div {
  position: relative;
}

.lenguajes .lenguajes-fb div .len-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.lenguajes .lenguajes-fb div .len-cont .burbuja {
  text-align: center;
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 1.2em 1em;
  border-radius: 4em;
  color: #7510f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 2;
}

.lenguajes .lenguajes-fb div .len-cont .burbuja p {
  display: none;
  opacity: 0;
  font-size: 2.3rem;
  font-family: "eurostile", sans-serif;
  font-weight: 700;
}

.lenguajes .lenguajes-fb div .len-cont .burbuja .fa-check {
  font-size: 2.5em;
  color: green;
  display: none;
  opacity: 0;
}

.lenguajes .lenguajes-fb div .len-cont .burbuja .fa-ban {
  font-size: 2.9em;
  color: red;
}

.lenguajes .lenguajes-fb div .b-1,
.lenguajes .lenguajes-fb div .b-2,
.lenguajes .lenguajes-fb div .b-3,
.lenguajes .lenguajes-fb div .b-4,
.lenguajes .lenguajes-fb div .b-5,
.lenguajes .lenguajes-fb div .b-6 {
  position: absolute;
  content: "";
  background-color: white;
}

.lenguajes .lenguajes-fb div .b-1 {
  top: 36%;
  left: 15%;
  height: 0px;
  width: 20px;
}

.lenguajes .lenguajes-fb div .b-4 {
  bottom: 14%;
  left: 22%;
  height: 20px;
  width: 0px;
}

.lenguajes .lenguajes-fb div .b-5 {
  bottom: 26%;
  left: 48.5%;
  height: 0px;
  width: 20px;
}

.lenguajes .lenguajes-fb div .b-2 {
  top: 16%;
  left: 57%;
  height: 20px;
  width: 0px;
}

.lenguajes .lenguajes-fb div .b-3 {
  top: 36%;
  right: 15%;
  height: 0px;
  width: 20px;
}

/** Burbujas Barras **/
/*# sourceMappingURL=style.css.map */