html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: white;
  min-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-family: "eurostile", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3rem;
}
h3,
h4 {
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3,
  h4 {
    font-size: 2.5rem;
  }
}

a,
p,
blockquote,
span {
  font-family: "europa", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  a,
  p,
  blockquote,
  span {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-family: "europa", sans-serif;
    line-height: 1;
    font-size: 2rem;
  }
}
/**
-------Clases Globales---------
**/

.contenedor {
  width: 95%;
  margin: 0 auto;
}

.caja-barra {
  background-color: white;
  -webkit-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
  -moz-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
  box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
  padding: 2em 1em;
  border-radius: 2em;
}

$color-principal: #7510f7;
$color-principal-oscuro: #580cbb;
$color-texto-blanco: #e1e1e1;

/**
-------Navegacion Header---------
**/

.navegacion {
  width: 100%;
  transition: all linear 0.5s;
  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    #nav_mobile {
      display: none;
    }
    i {
      font-size: 2rem;
      color: $color-principal;
      transition: all ease-in-out 0.3s;
      height: fit-content;
      margin-top: 0.3em;
      display: none;
    }
    i:hover {
      color: $color-principal-oscuro;
    }
    .links {
      align-items: center;
      justify-content: start;
      a {
        transition: all 0.3s ease;
        font-size: 2rem;
        margin-left: 1em;
      }
      a:hover {
        color: $color-principal;
      }
      a:first-child {
        margin-left: 0;
        width: 20%;
      }
    }
    .contact-link {
      height: fit-content;
      a {
        border: 2px solid $color-principal;
        padding: 0.3em 0.5em;
        border-radius: 15px;
        color: $color-principal;
        font-size: 1.8rem;
        align-items: center;
        transition: all 0.3s ease;
      }
      a:hover {
        color: white;
        background-color: $color-principal;
      }
    }
  }
}
@media only screen and (min-width: 480px) {
  .navegacion {
    div {
      .links {
        a:first-child {
          width: 16%;
        }
        .logo-image {
          height: 65px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .navegacion {
    div {
      .links {
        a {
          font-size: 2rem;
          margin-left: 1.5em;
        }
      }
      .contact-link {
        a {
          font-size: 2rem;
        }
      }
    }
  }
}

.activo-barra {
  background-color: rgba(225, 225, 225, 0.7);
  top: 0;
  position: fixed;
  left: 0;
  z-index: 2;
  transition: all linear 0.5s;
}

.movile-menu {
  display: block !important;
  overflow: hidden;
  #nav_mobile {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    #contact {
      border: 2px solid $color-principal;
      padding: 0.4em 0.7em 0.2em 0.7em;
      border-radius: 15px;
      color: $color-principal;
      font-size: 1.8rem;
      align-items: center;
      height: fit-content;
      transition: all 0.3s ease;
    }
    #contact:hover {
      color: white;
      background-color: $color-principal;
    }
  }
  .links {
    display: block;
    width: 100%;
    text-align: center;
    background-color: $color-texto-blanco;
    padding: 0 !important;
    border-radius: 0px 0px 15px 15px;
    a {
      display: block;
      width: 100%;
      margin-left: 0 !important;
      border-bottom: 2px gray solid;
      padding: 0.5em 0;
    }
    a:first-child {
      text-align: center;
      width: 100% !important;
      img {
        width: 12%;
      }
    }
    a:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
/**
-------Hero---------
**/

.hero {
  margin: 3em auto;
  text-align: center;
  h1 {
    color: $color-principal-oscuro;
  }
  h2 {
    font-family: "europa", sans-serif;
    padding: 0.5em 0;
    font-size: 2rem;
    font-weight: 500;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    margin: 5em auto;
    text-align: center;
    h1 {
      color: $color-principal-oscuro;
    }
    h2 {
      font-family: "europa", sans-serif;
      padding: 0.5em 0;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
}

/**
-------Imagenes Dispositivos---------
**/

.dispositivos {
  margin-top: 0em;
  text-align: center;
  img {
    width: 80%;
  }
}

@media only screen and (min-width: 468px) {
  .dispositivos {
    margin-top: 8em;
    img {
      width: 60%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .dispositivos {
    margin-top: 10em;
    img {
      width: 40%;
    }
  }
}

/**
-------Main---------
**/

/*** Yo ***/

.main {
  background-color: $color-principal-oscuro;
  padding: 6em 1em;
  transition: all linear 0.5s;
  display: block;
  position: relative;
  overflow: hidden;
  .yo {
    width: 90%;
    max-height: 460px;
    text-align: center;
    h2 {
      color: $color-principal;
    }
    .descripcion {
      margin-top: 1em;
      img {
        width: 60%;
        background-color: $color-principal;
        padding: 3rem 4rem;
        margin-bottom: 2em;
        border-radius: 100%;
      }
      p {
        color: black;
        line-height: 1.5;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .main {
    .yo {
      width: 60%;
      .descripcion {
        img {
          width: 60%;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    .yo {
      width: 60%;
      .descripcion {
        img {
          width: 40%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    .yo {
      width: 40%;
      .descripcion {
        img {
          width: 40%;
        }
      }
    }
  }
}

.flecha-1,
.flecha-2 {
  color: $color-principal;
  font-size: 4em;
  width: max-content;
  position: relative;
  transition: all ease-in-out.5s;
  cursor: pointer;
  p {
    text-align: center;
    font-weight: 600;
    position: absolute;
    content: "";
    width: 75px;
    top: -25px;
    left: -20px;
  }
}

.flecha-1:hover,
.flecha-2:hover {
  color: $color-principal-oscuro;
}

.flecha-1 {
  position: absolute;
  top: 22%;
  left: 15%;
  content: "";
}
.flecha-2 {
  position: absolute;
  top: 22%;
  right: 15%;
  content: "";
}

@media only screen and (min-width: 480px) {
  .flecha-1,
  .flecha-2 {
    background-color: white;
    padding: 0.5em 0.2em;
    border-radius: 15px;
    line-height: 1;
    -webkit-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
    box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.91);
  }
  .flecha-1:hover,
  .flecha-2:hover {
    padding: 0.5em 0.1em;
  }
  .flecha-1 {
    position: absolute;
    top: 22%;
    left: 10%;
    content: "";
  }
  .flecha-2 {
    position: absolute;
    top: 22%;
    right: 10%;
    content: "";
  }
}

@media only screen and (min-width: 1024px) {
  .flecha-1,
  .flecha-2 {
    p {
      width: 220px;
      top: -25px;
      left: -75px;
    }
  }
  .flecha-1 {
    position: absolute;
    top: 22%;
    left: 22%;
    content: "";
  }
  .flecha-2 {
    position: absolute;
    top: 22%;
    right: 22%;
    content: "";
  }
}

/*** Designer ***/

.designer {
  width: 90%;
  text-align: center;
  display: none;
  h2 {
    color: $color-principal;
  }
  .descripcion {
    margin-top: 1em;
    img {
      width: 80%;
      fill: none;
      stroke: none;
      fill-opacity: 1;
      padding: 0rem 0rem !important;
      margin-bottom: 2em;
      border-radius: 50% !important;
    }
    p {
      color: black;
      line-height: 1.5;
    }
  }
}

@media only screen and (min-width: 480px) {
  .main {
    .designer {
      .descripcion {
        img {
          width: 60% !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    .designer {
      .descripcion {
        img {
          width: 40% !important;
        }
      }
    }
  }
}

/** Work **/

.work {
  width: 90%;
  text-align: center;
  display: none;
  h2 {
    color: $color-principal;
  }
  .descripcion {
    margin-top: 1em;
    img {
      width: 60%;
      fill: none;
      stroke: none;
      fill-opacity: 1;
      padding: 3rem 2rem !important;
      margin-bottom: 2em;
      border-radius: 50% !important;
    }
    p {
      color: black;
      line-height: 1.5;
    }
  }
}

@media only screen and (min-width: 480px) {
  .work {
    .designer {
      .descripcion {
        img {
          width: 60% !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .work {
    .designer {
      .descripcion {
        img {
          width: 40% !important;
        }
      }
    }
  }
}

/**
-------Programmer Lenguajes---------
**/

.lenguajes {
  h2 {
    text-align: center;
    color: white;
    font-size: 4rem;
    border-bottom: 3px solid #e1e1e1;
    width: 35%;
    margin: 2em auto;
    padding-bottom: 0.2em;
  }
  .lenguajes-fb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    div {
      position: relative;
      .len-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 4em;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        .burbuja {
          text-align: center;
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;
          background-color: white;
          padding: 1.2em 1em;
          border-radius: 4em;
          color: $color-principal;
          justify-content: center;
          margin: 0 auto;
          z-index: 2;
          p {
            display: none;
            opacity: 0;
            font-size: 2.3rem;
            font-family: "eurostile", sans-serif;
            font-weight: 700;
          }
          .fa-check {
            font-size: 2.5em;
            color: green;
            display: none;
            opacity: 0;
          }
          .fa-ban {
            font-size: 2.9em;
            color: red;
          }
        }
      }
      .b-1,
      .b-2,
      .b-3,
      .b-4,
      .b-5,
      .b-6 {
        position: absolute;
        content: "";
        background-color: white;
      }
      .b-1 {
        top: 36%;
        left: 15%;
        height: 0px;
        width: 20px;
      }
      .b-4 {
        bottom: 14%;
        left: 22%;
        height: 20px;
        width: 0px;
      }
      .b-5 {
        bottom: 26%;
        left: 48.5%;
        height: 0px;
        width: 20px;
      }
      .b-2 {
        top: 16%;
        left: 57%;
        height: 20px;
        width: 0px;
      }
      .b-3 {
        top: 36%;
        right: 15%;
        height: 0px;
        width: 20px;
      }
    }
  }
}

/** Burbujas Barras **/
